<nav class="mb-2 mt-2 pl-0 navbar navbar-expand-lg navbar-light">
  <span class="navbar-brand" >
    <strong><%= @page_title = 'Recently Wanted CID' %></strong>
    <small class='text-muted'><%= number_with_delimiter @pagy.count %> wants in the past <%= @range %> days</small>
  </span>
</nav>

<div class="row">
  <div class="col-md-12">
    <% @wants.each do |want| %>
      <div class='mb-2'>
        <p>
          <span title='<%= want.node.country_name %>'><%= flag_icon(want.node.country_iso_code, squared: true) %></span>
          <span class='cid'><%= link_to want.cid.cid, cid_path(want.cid.cid) %></span><br/>
          <small class='text-muted'>
            wanted by
            <span class=''><%= link_to want.node.node_id, want.node %></span>
            <%= distance_of_time_in_words_to_now want.created_at %> ago
            <% if want.cid.content_type.present? %>
              <br>
                <%= want.cid.content_type %>
                <% if want.cid.content_length.present? %>
                  - <%= number_to_human_size want.cid.content_length %>
                <% end %>
            <% end %>
          </small>
        </p>
      </div>
    <% end %>

    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
