<h1>
  <small>CID: <%= @page_title = @cid.cid %></small>
</h1>

<p class='text-muted'>
  <small>
    Gateway link: <%= link_to "gateway.ipfs.io/ipfs/#{@cid.cid}", "http://gateway.ipfs.io/ipfs/#{@cid.cid}", target: :_blank %>
    <% if @cid.content_type.present? %>
      <br>Content Type: <%= @cid.content_type %>
      <% if @cid.content_length.present? %>
        <br>
        Content Type: <%= number_to_human_size @cid.content_length %>
      <% end %>
    <% end %>
  </small>
</p>

<div class="row">
  <div class="col-md-6">
    <h4>
      Recent want requests
      <small class='text-muted'>
        <%= number_with_delimiter @cid.wants_count %> wants
      </small>
    </h4>

    <%= line_chart  show_chart_cid_path(@cid.cid), colors: ['#bbb'], height: "200px", library: { scales: { yAxes: [{ display: false }], xAxes: [{ display: false }] }}, points: false %>

    <% @wants.each do |want| %>
      <% node = want.node %>
      <div class='node mb-2'>
        <span title='<%= node.country_name %>'><%= flag_icon(node.country_iso_code, squared: true) %></span>
        <span class='cid'><%= link_to node.node_id, node %></span><br>
        <small class='text-muted'>
          <% if node.agent_version.present? %>
            <%= node.agent_version %> -
          <% end %>
          <span title='<%= want.created_at %>'><%= distance_of_time_in_words_to_now want.created_at %> ago</span>
        </small>
      </div>
    <% end %>

    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
  <div class="col-md-6">

    <h4>
      Most frequent requesters
      <small class='text-muted'>
        <%= number_with_delimiter @nodes.length %> nodes
      </small>
    </h4>

    <div class="row">
      <div class="col-md-6">
        <%= pie_chart @nodes.map{|a| a.first.agent_version || 'Unknown' }.inject(Hash.new(0)) { |h, e| h[e] += 1 ; h }.sort_by{|k,v| -v}, legend: false, height: "200px" %>
      </div>
      <div class="col-md-6">
        <%= pie_chart @nodes.map{|a| a.first.country_name || 'Unknown' }.inject(Hash.new(0)) { |h, e| h[e] += 1 ; h }.sort_by{|k,v| -v}, legend: false, height: "200px" %>
      </div>
    </div>

    <% @nodes.first(30).each do |node, count| %>

      <div class='node mb-2'>
        <span title='<%= node.country_name %>'><%= flag_icon(node.country_iso_code, squared: true) %></span>
        <span class='cid'><%= link_to node.node_id, node %>
          <% if node.pl? %>
            <small class='text-muted'>PL</small>
          <% end %>
        </span><br>
        <small class='text-muted'>
          <% if node.agent_version.present? %>
            <%= node.agent_version %> -
          <% end %>
          <%= number_with_delimiter count %> want requests
        </small>
      </div>
    <% end %>
  </div>
</div>
