<% total_count = @scope.sum{|k,v| v.sum(&:wants_count)} %>

<nav class="mb-2 mt-2 pl-0 navbar navbar-expand-lg navbar-light">
  <span class="navbar-brand" >
    <strong><%= @page_title = 'Most Wants by Version' %></strong>
    <small class='text-muted'><%= number_with_delimiter total_count %></small>
  </span>
</nav>

<% @scope.each do |minor_go_ipfs_version, nodes| %>

  <div class="country mb-3">
    <h3>
      <% if minor_go_ipfs_version.present? %>
        0.<%= minor_go_ipfs_version %>.X
      <% else %>
        Unknown
      <% end %>

      <small class='text-muted'>
        <% count = nodes.sum(&:wants_count) %>
        <%= number_with_delimiter count %> (<%= (count/total_count.to_f*100).round(1) %>%)
      </small>
    </h3>

    <div class="row">
      <div class="col-md-8">
        <% nodes.sort_by{|n| -n.wants_count}.first(8).each do |node| %>
          <%= render node %>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= pie_chart nodes.group_by{|n| n.patch_go_ipfs_version || 'Unknown'}.map{|k,v| [k,v.length]}.sort_by{|k,v| -v}, height: '200px' %>

        <%= pie_chart nodes.group_by(&:country_name).map{|k,v| [k,v.length]}.sort_by{|k,v| -v}, height: '200px' %>
      </div>
    </div>
  </div>
  <hr>
<% end %>
