<div class='node mb-2'>
  <span title='<%= node.country_name %>'><%= flag_icon(node.country_iso_code, squared: true) %></span>
  <span class='cid'><%= link_to node.node_id, node %></span>
  <% if node.pl? %>
    <small class='text-muted'>PL</small>
  <% end %>
  <br>
  <small class='text-muted'>
    <% if node.main_ip.present? %>
      <%= node.main_ip %> -
    <% end %>
    <% if node.agent_version.present? %>
      <%= node.agent_version %> -
    <% end %>
    Seen <%= pluralize number_with_delimiter(node.sightings.zero? ? 1 : node.sightings), 'times' %> -
    <%= pluralize number_with_delimiter(node.wants_count), 'wants' %> -
    Last seen <%= distance_of_time_in_words_to_now node.updated_at %> ago
  </small>
</div>
