<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle <%= 'active' if (params[:sort].present? || params[:order].present?) %>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sort</a>
  <div class="dropdown-menu dropdown-menu-right text-right">
    <% if params[:sort] != 'updated_at' && params[:order] != 'asc' %>
      <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, sort: nil, order: nil)) %>">
        Newest
      </a>
    <% else %>
      <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, sort: 'created_at', order: 'desc')) %>">
        Newest
      </a>
    <% end %>
    <% if params[:sort] == 'created_at' && params[:order] == 'asc' %>
      <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, sort: nil, order: nil)) %>">
        Oldest
      </a>
    <% else %>
      <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, sort: 'created_at', order: 'asc')) %>">
        Oldest
      </a>
    <% end %>
    <% if params[:sort] == 'updated_at' && params[:order] == 'desc' %>
      <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, sort: nil, order: nil)) %>">
        Recently seen
      </a>
    <% else %>
      <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, sort: 'updated_at', order: 'desc')) %>">
        Recently seen
      </a>
    <% end %>
    <% if params[:sort] == 'updated_at' && params[:order] == 'asc' %>
      <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, sort: nil, order: nil)) %>">
        Least recently seen
      </a>
    <% else %>
      <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, sort: 'updated_at', order: 'asc')) %>">
        Least recently seen
      </a>
    <% end %>
    <% if params[:sort] == 'sightings' && params[:order] == 'asc' %>
      <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, sort: nil, order: nil)) %>">
        Most sightings
      </a>
    <% else %>
      <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, sort: 'sightings', order: 'desc')) %>">
        Most sightings
      </a>
    <% end %>
    <% if params[:sort] == 'sightings' && params[:order] == 'asc' %>
      <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, sort: nil, order: nil)) %>">
        Least sightings
      </a>
    <% else %>
      <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, sort: 'sightings', order: 'asc')) %>">
        Least sightings
      </a>
    <% end %>

    <% if params[:sort] == 'wants_count' && params[:order] == 'asc' %>
      <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, sort: nil, order: nil)) %>">
        Most wants
      </a>
    <% else %>
      <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, sort: 'wants_count', order: 'desc')) %>">
        Most wants
      </a>
    <% end %>
    <% if params[:sort] == 'wants_count' && params[:order] == 'asc' %>
      <a class="dropdown-item active" title='Click to Remove' href="<%= url_for(request.params.merge(page: nil, sort: nil, order: nil)) %>">
        Least wants
      </a>
    <% else %>
      <a class="dropdown-item" href="<%= url_for(request.params.merge(page: nil, sort: 'wants_count', order: 'asc')) %>">
        Least wants
      </a>
    <% end %>
  </div>
</li>
