<h1>
  <small>Node: <%= @page_title = @node.node_id %></small>
</h1>

<p>
  First seen: <%= distance_of_time_in_words_to_now @node.created_at %> ago<br>
  Last seen: <%= distance_of_time_in_words_to_now @node.updated_at %> ago<br>
  Sightings: <%= number_with_delimiter @node.sightings %>
</p>

<% if @node.agent_version.present? %>
  <p>
    Agent Version: <%= @node.agent_version %>
  </p>
<% end %>

<h4>IPs</h4>
<ul>
  <% @node.ip4_addresses.first(20).sort.each do |addr| %>
    <li>
      <%= link_to addr, nodes_path(ip4: addr) %>
      <% if domain = Node.domain_lookup(addr) %>
        (<%= domain %>)
      <% end %>
    </li>
  <% end %>
  <% @node.ip6_addresses.first(20).sort.each do |addr| %>
    <li>
      <%= link_to addr, nodes_path(ip6: addr) %>
      <% if domain = Node.domain_lookup(addr) %>
        (<%= domain %>)
      <% end %>
    </li>
  <% end %>
</ul>

<h4>Location</h4>
<p>
  <% if @node.network.present? %>
    <% [:country_name, :city_name, :most_specific_subdivision_name, :autonomous_system_organization, :network, :latitude, :longitude].each do |field| %>
      <% next if @node.send(field).blank? %>
      <%= field.to_s.humanize %>: <strong><%= @node.send(field) %></strong> <br>
    <% end %>
  <% else %>
    Unknown
  <% end %>
</p>

<h4>MultiAddrs</h4>
<ul>
  <% if @node.multiaddrs.any? %>
    <% @node.multiaddrs.first(20).each do |addr| %>
      <li>
        <%= link_to addr, nodes_path(addr: addr) %>
      </li>
    <% end %>
  <% else %>
    <li>Unknown</li>
  <% end %>
</ul>

<h4>Protocols</h4>
<ul>
  <% if @node.protocols.any? %>
    <% @node.protocols.each do |protocol| %>
      <li>
        <%= link_to protocol, nodes_path(protocols: protocol) %>
      </li>
    <% end %>
  <% else %>
    <li>Unknown</li>
  <% end %>
</ul>

<% if @wants.any? %>
  <h4>
    Wants
    <small class='text-muted'>
      <%= number_with_delimiter @node.wants_count %> wants
    </small>
  </h4>
  <div class="row">
    <div class="col-md-12">
      <% @wants.each do |want| %>
        <div class='want mb-2'>
          <span class='cid'><%= link_to want.cid.cid, cid_path(want.cid.cid) %></span>
          <small class='text-muted'>
            <%= distance_of_time_in_words_to_now want.created_at %> ago
            <% if want.cid.content_type.present? %>
              <br>
                <%= want.cid.content_type %>
                <% if want.cid.content_length.present? %>
                  - <%= number_to_human_size want.cid.content_length %>
                <% end %>
            <% end %>
          </small>
        </div>
      <% end %>

      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
<% end %>
