<% ranges = [7, 14, 30] %>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle <%= 'active' if params[:range].present? %>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Last Seen</a>
  <div class="dropdown-menu">
    <% if params[:range].present? && !ranges.include?(params[:range].to_i) %>
    <a class="dropdown-item active" href="/versions/<%= ERB::Util.url_encode @version %>">
      Last <%= params[:range] %> days
    </a>
    <% end %>
    <% ranges.each do |range| %>
      <a class="dropdown-item <%= 'active' if range == @range || range == params[:range].to_i %>" href="/versions/<%= ERB::Util.url_encode @version %>?range=<%= (params[:range].to_i == range ? nil : range) %>">
        Last <%= range %> days
      </a>
    <% end %>
  </div>
</li>
