<nav class="mb-2 mt-2 pl-0 navbar navbar-expand-lg navbar-light">
  <span class="navbar-brand" >
    <strong><%= @page_title = @version %></strong>
    <small class='text-muted'><%= number_with_delimiter @scope.count %></small>
  </span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills mr-auto">

      <%= render 'range_filter' %>
    </ul>
  </div>
</nav>

<div class="row">
  <%= line_chart "/versions/#{ERB::Util.url_encode @version}/show_chart?range=#{@range}" %>
</div>

<% version_number = @version.split('/')[1] %>
<% commit = @version.split('/')[2] %>

<% unless Node::SECIO_PATCH_VERSIONS.include? version_number %>
  <p>
    <strong>SECIO patched:</strong> false
  </p>
<% end %>

<p><strong>Github Release:</strong> <%= link_to version_number, "https://github.com/ipfs/go-ipfs/releases/tag/v#{version_number}", target: :_blank %></p>

<% if commit %>
<p>
  <strong>Commit:</strong>

  <%= link_to commit, "https://github.com/ipfs/go-ipfs/commit/#{commit}", target: :_blank %>
</p>
<% end %>

<!--
<p>TODO: open source usage</p>

<p>TODO: release date</p>
-->

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs mb-3">
      <li class="nav-item">
        <a class="nav-link <%= 'active' if params[:tab].blank? || params[:tab] == 'overview' %>" href="<%= "/versions/#{ERB::Util.url_encode(@version)}?range=#{@range}&tab=" %>">
          Overview
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= 'active' if params[:tab] == 'nodes' %>" href="<%= "/versions/#{ERB::Util.url_encode(@version)}?range=#{@range}&tab=nodes" %>">
          Nodes
          <span class='badge badge-secondary'><%= @scope.count %></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= 'active' if params[:tab] == 'wants' %>" href="<%= "/versions/#{ERB::Util.url_encode(@version)}?range=#{@range}&tab=wants" %>">
          Wants
        </a>
      </li>
    </ul>

    <%= case params[:tab]
    when 'nodes'
      render 'nodes'
    when 'wants'
      render 'wants'
    else
      render 'overview'
    end %>
  </div>
</div>
