<nav class="mb-2 mt-2 pl-0 navbar navbar-expand-lg navbar-light">
  <span class="navbar-brand" >
    <strong><%= @page_title = @version %></strong>
    <small class='text-muted'><%= number_with_delimiter @scope.count %></small>
  </span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills mr-auto">

      <%= render 'range_filter' %>
    </ul>
  </div>
</nav>

<div class="row">
  <%= line_chart @graph %>
</div>

<p>TODO: secio</p>

<p>TODO: github release</p>

<p>TODO: open source usage</p>

<p>TODO: release date</p>

<div class="row">
  <div class="col-md-6">
    <h3>Countries</h3>
    <%= pie_chart @scope.map{|a| a.country_name || 'Unknown' }.inject(Hash.new(0)) { |h, e| h[e] += 1 ; h }.sort_by{|k,v| -v}, legend: false %>
  </div>
  <div class="col-md-6">
    <h3>Networks</h3>
    <%= pie_chart @scope.map{|a| a.autonomous_system_organization || 'Unknown' }.inject(Hash.new(0)) { |h, e| h[e] += 1 ; h }.sort_by{|k,v| -v}, legend: false %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h4>Nodes</h4>

    <% @scope.order('wants_count desc, sightings desc').limit(30).each do |node| %>
      <%= render node %>
    <% end %>

  </div>
  <div class="col-md-6">
    <h4>Wants</h4>

    <% @wants.first(50).each do |cid_id, count| %>
      <% cid = Cid.find cid_id %>

      <div class='cid mb-2'>
        <span class='cid'><%= link_to cid.cid, cid_path(cid.cid) %></span>
        <small class='text-muted'>
          <%= number_with_delimiter count %> wants
          <% if cid.content_type.present? %>
             - <%= cid.content_type %>
            <% if cid.content_length.present? %>
              - <%= number_to_human_size cid.content_length %>
            <% end %>
          <% elsif cid.last_loaded_at %>
             - <span title='Last load attempted at <%= cid.last_loaded_at %>'>Unknown type</span>
          <% end %>
        </small>
      </div>


    <% end %>

  </div>
</div>
