<!DOCTYPE html>
<html class='h-100'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <title>
      <%= page_title %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= content_for :rss %>
  </head>

  <body class='d-flex flex-column h-100'>
    <header>
      <nav class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand-md">
        <a class="navbar-brand" href="/">
          <img src="https://github.com/ipfs.png" width="30" height="30" alt="">
        </a>
        <a class="navbar-brand" href="/">
          IPFS DHT Explorer
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <% if logged_in? %>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Nodes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href='<%= nodes_path %>'>
                    Recently seen
                  </a>
                  <a class="dropdown-item" href='<%= countries_nodes_path %>'>
                    Countries
                  </a>
                  <a class="dropdown-item" href='<%= versions_nodes_path %>'>
                    Versions
                  </a>
                  <a class="dropdown-item" href='<%= secio_nodes_path %>'>
                    Secio
                  </a>
                  <a class="dropdown-item" href='<%= outdated_nodes_path %>'>
                    Outdated
                  </a>
                  <a class="dropdown-item" href='<%= inactive_nodes_path %>'>
                    Inactive
                  </a>
                  <a class="dropdown-item" href='<%= new_node_path %>'>
                    New
                  </a>
                  <a class="dropdown-item" href='<%= storm_nodes_path %>'>
                    Storm
                  </a>
                  <a class="dropdown-item" href='<%= pl_nodes_path %>'>
                    PL
                  </a>
                  <a class="dropdown-item" href='<%= connected_nodes_path %>'>
                    Connected
                  </a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  CIDs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="<%= cids_path %>">
                    Most Wanted
                  </a>
                  <a class="dropdown-item" href="<%= recent_cids_path %>">
                    Recent Wants
                  </a>
                  <a class="dropdown-item" href="<%= wants_cids_path %>">
                    Biggest Wanters
                  </a>
                  <a class="dropdown-item" href="<%= countries_cids_path %>">
                    Wants by Country
                  </a>
                  <a class="dropdown-item" href="<%= versions_cids_path %>">
                    Wants by Version
                  </a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href='<%= exports_path %>'>
                  Exports
                </a>
              </li>
            </ul>

            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href='<%= logout_path %>'>
                  Logout
                </a>
              </li>
            </ul>
          <% end %>
        </div>
      </nav>
    </header>

    <main role="main" class="flex-shrink-0">
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="<%= bootstrap_class_for(key) %>">
            <%= value %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </main>
    <footer class='footer mt-auto py-3'>

      <div class="container">
        <span class="text-muted">
          <%= link_to 'Feature requests and bug reports welcome', 'https://github.com/ipfs-shipyard/ipfs_dht_explorer', target: :_blank %>
        </span>
      </div>
    </footer>
  </body>
</html>
